
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', impact, sans-serif;
  margin: 0.5em 0;
}





/* .add-task {
  padding: 1em 1em 0 1em;
}

.task-list {
  list-style: none;
  padding: 0 1em 1em 1em;
} */
